
@{
    ViewBag.Title = "lead_management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        color: #3391b7;
    }

    textarea.form-control {
        height: 38px;
    }

    .form-control {
        padding: 2px 4px !important;
        font-size: 10px !important;
        height: 20px !important;
        min-height: 30px !important;
    }

    .custom-btn {
        background-color: #88c3d8; /* Default background color */
        color: white;
        transition: background-color 0.3s ease;
    }

        .custom-btn:hover {
            background-color: #3391b7; /* Background color on hover */
        }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!--<section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Employee Mangement</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Employee Mangement</li>
                    </ol>
                </div>
            </div>
        </div>-->
    <!-- /.container-fluid -->
    <!--</section>-->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Lead Mangement Field</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        @using (Html.BeginForm("insert_lead", "admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="card-body">
                                <div class="row">
                                    @*<div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="">Lead Id:-</label>
                                            </div>
                                        </div>*@

                                    <input type="hidden" class="form-control" id="LeadID" name="LeadID" placeholder="Enter LeadID" value="@Model.LeadID" required readonly>


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="">Lead Segment:-</label>
                                            <input type="text" class="form-control" id="LeadSegment" name="LeadSegment" placeholder="Enter Lead Segment" value="@Model.LeadSegment" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="">Branch:-</label>
                                            <input type="text" class="form-control" id="Branch" name="Branch" placeholder="Enter Branch" value="@Model.Branch" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="">Client:-</label>
                                            <input type="text" class="form-control" id="Client" name="Client" placeholder="Enter Client" value="@Model.Client" required readonly>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="">Client Mobile No.:-</label>
                                                <input type="text" class="form-control" id="Telephone" name="Telephone" placeholder="Enter Client Mobile No." value="@Model.Telephone" required>
                                            </div>
                                        </div>*@
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="">Client Segment:-</label>
                                            <input type="text" class="form-control" id="ClientSegment" name="ClientSegment" placeholder="Enter Client Segment" value="@Model.ClientSegment" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">Contact Person:-</label>
                                            <input type="text" class="form-control" id="ContactPerson" name="ContactPerson" placeholder="Enter Contact Person" value="@Model.ContactPerson" required readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">Contact Designation:-</label>
                                            <input type="text" class="form-control" id="ContactDesignation" name="ContactDesignation" placeholder="Enter Contact Designation" value="@Model.ContactDesignation" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">Contact Mobile Number:-</label>
                                            <input type="text" class="form-control" id="ContactMobileNumber" name="ContactMobileNumber" placeholder="Enter Contact Mobile Number" value="@Model.ContactMobileNumber" required readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">Contact Email:-</label>
                                            <input type="text" class="form-control" id="ContactEmail" name="ContactEmail" placeholder="Enter Contact Email" value="@Model.ContactEmail" required readonly>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="">Country:-</label>

                                                <select class="form-control" id="selectCountries" name="country" @(Model.Country != "" ? "data-select=" + Model.Country + "" : "") >
                                                    <option value="">--Select Country--</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="">State:-</label>
                                                <select class="form-control" id="selectStates" name="state" @(Model.State != "" ? "data-select=" + Model.State + "" : "") >
                                                    <option value="">--Select State--</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="">City:-</label>
                                                <select class="form-control" id="selectcity" name="city" @(Model.City != "" ? "data-select=" + Model.City + "" : "") >
                                                    <option value="">--Select City--</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="">Area PIN:-</label>
                                                <input type="text" class="form-control" id="PIN" name="PIN" placeholder="" value="@Model.PIN" required>
                                            </div>
                                        </div>
                                    </div>*@


                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">Country:-</label>
                                            @*<select class="form-control" id="countrylist" name="countrylist" @(Model.Country != "" ? "data-select=" + Model.Country + "" : "") >
                                                <option value="">--select country --</option>
                                                </select>*@

                                            @*    @Html.DropDownList("Country", null, "--select country --", new { @class = "form-control" })*@

                                            @*<select class="form-control" id="selectCountries" name="country" @(Model.Country != "" ? "data-select=" + Model.Country + "" : "") required>
                                                <option value="">--Select Country--</option>

                                                   </select>*@

                                            <select id="Country" class="form-control sn-required" name="Country">
                                                <option value="">--Select Country--</option>
                                                @if (ViewBag.Country != null)
                                                {
                                                    foreach (var item in ViewBag.Country as List<SelectListItem>)
                                                    {
                                                        if (Model.Country == item.Value)
                                                        {
                                                            <option selected value="@item.Value">@item.Text</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Value">@item.Text</option>
                                                        }

                                                    }
                                                }
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">State:-</label>
                                            <select class="form-control" id="selectStates" name="State" data-sel="@Model.State">
                                                <option value="">--Select State--</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">City:-</label>
                                            <select class="form-control" id="selectcity" name="City" data-sel="@Model.City">
                                                <option value="">--Select City--</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">Area PIN:-</label>
                                            <input type="text" class="form-control" id="PIN" name="PIN" placeholder="" value="@Model.PIN" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="">Address:-</label>
                                            <textarea class="form-control" id="Address" name="Address" readonly>@Model.Address</textarea>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">Client Segment:-</label>
                                            <input type="text" class="form-control" id="ClientSegment" name="ClientSegment" placeholder="Enter Client Segment" value="@Model.ClientSegment" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">Client Turnover:-</label>
                                            <input type="text" class="form-control" id="ClientTurnover" name="ClientTurnover" placeholder="Enter Client Turnover (in crore)" value="@Model.ClientTurnover" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">Client PCs/ No Of Employee:-</label>
                                            <input type="text" class="form-control" id="ClientPCsOrNoOfEmployee" name="ClientPCsOrNoOfEmployee" placeholder="" value="@Model.ClientPCsOrNoOfEmployee" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">Expected Annual Business:-</label>
                                            <input type="text" class="form-control" id="ExpectedAnnualBusiness" name="ExpectedAnnualBusiness" placeholder="Enter ExpectedAnnualBusiness (in crore)" value="@Model.ExpectedAnnualBusiness" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Product Required:-</label>
                                            <input type="text" class="form-control" id="ProductRequired" name="ProductRequired" placeholder="Enter Product Required" value="@Model.ProductRequired" required readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Product Quantity:-</label>
                                            <input type="text" class="form-control" id="ProductQuantity" name="ProductQuantity" placeholder="Enter Product Quantity" value="@Model.ProductQuantity" required>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="">Product Description:-</label>
                                            <textarea class="form-control" id="ProductDescription" name="ProductDescription">@Model.ProductDescription</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="">Service Required:-</label>
                                            <input type="text" class="form-control" id="ServiceRequired" name="ServiceRequired" placeholder="Enter Service Required" value="@Model.ServiceRequired" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="">Services Description:-</label>
                                            <textarea class="form-control" id="ServicesDescription" name="ServicesDescription">@Model.ServicesDescription</textarea>
                                        </div>
                                    </div>

                                </div>



                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="">Estimated Lead Value:-</label>
                                            <input type="text" class="form-control" id="EstimatedLeadValue" name="EstimatedLeadValue" placeholder="Enter Estimated Lead Value" value="@Model.EstimatedLeadValue" required>
                                        </div>
                                    </div>
                                    <!--<div class="col-sm-4 hidedive">
                                    <div class="form-group">
                                        <label for="">Lead Generated By:-</label>-->
                                    @*    <input type="text" class="form-control" id="LeadGeneratedBy" name="LeadGeneratedBy"  value="@Model.LeadGeneratedBy" readonly>*@

                                    <!--<select class="form-control" id="LeadGeneratedBy" name="LeadGeneratedBy" @(Model.LeadGeneratedBy != "" ? "data-select=" + Model.LeadGeneratedBy + "" : "") required readonly>
                                                <option value="">--Select Reporting Manager--</option>
                                                @if (Model.employe_list.Count > 0)
                                                {
                                                    foreach (var item in Model.employe_list)
                                                    {
                                                        if (Model.LeadGeneratedBy == item.employee_id.ToString())
                                                        {
                                                            <option value="@item.employee_id" selected="selected">@item.name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.employee_id">@item.name</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>-->
                                    <input type="hidden" class="form-control" id="LeadGeneratedBy" name="LeadGeneratedBy" value="@Model.LeadGeneratedBy" readonly>
                                    <input type="text" class="form-control" id="LeadGeneratedByType" name="LeadGeneratedByType" value="@Model.LeadGeneratedByType" readonly>
                                    <input type="hidden" class="form-control" id="LeadAssignedTo" name="LeadAssignedTo" value="@Model.LeadAssignedTo">
                                    <input type="hidden" class="form-control" id="assignStatus" name="assignStatus" value="@Model.assignStatus">


                                    @*<div class="col-sm-4 hidedive">
                                            <div class="form-group">
                                                <label for="">Lead Generated By Type:-</label>
                                                <input type="text" class="form-control" id="LeadGeneratedByType" name="LeadGeneratedByType" value="@Model.LeadGeneratedByType" readonly>
                                                <input type="hidden" class="form-control" id="LeadAssignedTo" name="LeadAssignedTo" value="@Model.LeadAssignedTo">
                                                <input type="hidden" class="form-control" id="assignStatus" name="assignStatus" value="@Model.assignStatus">
                                            </div>
                                        </div>*@

                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="">Lead Generation Date:-</label>
                                            <input type="date" class="form-control" id="LeadGenerationDate" name="LeadGenerationDate" placeholder="" value="@Model.LeadGenerationDate" readonly>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="">Lead Assigned To:-</label>
                                                <select class="form-control" id="LeadAssignedTo" name="LeadAssignedTo" @(Model.LeadAssignedTo != "" ? "data-select=" + Model.LeadAssignedTo + "" : "") required>
                                                    <option value="">--Select--</option>
                                                    @if (Model.employe_list.Count > 0)
                                                    {
                                                        foreach (var item in Model.employe_list)
                                                        {
                                                            if (Model.LeadAssignedTo == item.employee_id.ToString())
                                                            {
                                                                <option value="@item.employee_id" selected="selected">@item.name</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.employee_id">@item.name</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="">Lead Status:-</label>
                                                <input type="text" class="form-control" id="LeadStatus" name="LeadStatus" placeholder="Enter Lead Status" value="@Model.LeadStatus" required>
                                            </div>
                                        </div>*@
                                </div>


                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <input type="hidden" name="id" id="id" value="@Model.id" />
                                <button type="submit" class="btn custom-btn">Submit</button>
                            </div>
                        }
                    </div>
                    <!-- /.card -->


                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>
    $(document).ready(function () {



        var currentdate = moment(new Date()).format("YYYY-MM-DD");
        //  alert(currentdate);
        $('#LeadGenerationDate').val(currentdate);




        $("[data-select]").each(function () {
            var obj = $(this);
            obj.val(obj.attr("data-select"))

        });


    });
</script>

<script>

    function stateList(countryId = null, selected = null) {


        $.ajax({
            url: '/admin/Statebind?countryId = ' + countryId,
            type: 'GET',
            data: { countryId: countryId },
            success: function (data) {

                var statesDropdown = $("#selectStates");
                // alert(JSON.stringify(data));
                statesDropdown.empty();
                statesDropdown.append($('<option>').text('Select State').attr('value', ''));
                $.each(data, function (index, state) {
                    //alert(JSON.stringify(state.Text));
                    if (selected != null && selected == state.Value) {
                        statesDropdown.append($('<option selected="selected">').text(state.Text).attr('value', state.Value));

                    } else {
                        statesDropdown.append($('<option>').text(state.Text).attr('value', state.Value));

                    }
                    //console.log(state.Text);
                });
                $("#selectcity").empty(); // Clear city dropdown on country change
            }
        });
    }

    function cityList(stateId = null, selected = null) {
        $.ajax({
            url: '/admin/Citybind?stateId = ' + stateId,
            type: 'GET',
            data: { stateId: stateId },
            success: function (data) {
                var citiesDropdown = $("#selectcity");
                citiesDropdown.empty();
                citiesDropdown.append($('<option>').text('Select City').attr('value', ''));
                $.each(data, function (index, city) {
                    if (selected != null && selected == city.Value) {
                        citiesDropdown.append($('<option selected="selected">').text(city.Text).attr('value', city.Value));

                    } else {
                        citiesDropdown.append($('<option>').text(city.Text).attr('value', city.Value));
                    }
                });
            }
        });
    }

    $(document).ready(function () {

        var countryId = $('#Country').val();

        var stateId = $('#selectStates').attr('data-sel');
        if (countryId && countryId != 'undefined' && countryId != '') {
            if (stateId && stateId != 'undefined') {
                stateList(countryId, stateId);
            } else {
                stateList(countryId);
            }
        }



        var cityId = $('#selectcity').attr('data-sel');
        if (stateId && stateId != 'undefined') {
            if (cityId && cityId != 'undefined') {
                cityList(stateId, cityId);
            } else {
                cityList(cityId);
            }
        }




        $("#Country").change(function () {
            var countryId = $(this).val();
            //alert(countryId);
            stateList(countryId);
        });

        $("#selectStates").change(function () {
            var stateId = $(this).val();
            cityList(stateId);


        });
    });
</script>